.box{
    width: 60%;
    display: block;
    margin: auto;
    padding: 1rem;
    /* border: 3px solid #2196f3; */
}
.logo{
    width: 30%;
    display: block;
    margin: 1rem auto;
}

tr > td:nth-child(1) {
    width: 15%;
   
}
tr > td:nth-child(2) {
    width: 40%;
}
td {  
    text-align: left;  
    padding: .8rem 0;
    /* padding: 0.8rem .1rem; */
    /* border: 1 px solid #2196f3;   */
    border-collapse: collapse;  
    /* width: 25% ; */
}  
.title{
    margin: 2rem;
    text-align: center;
    font-weight: normal;
}
.spcaing{
    margin: 1rem;
}
p{
    font-size: 1.1rem;
    margin: 0.3rem auto;
}
.bold{
    font-weight: bold;
}
.table{
    width: 50%;
    display: block;
    margin: 1.5rem auto;
    border: 2px solid black;
    padding: 0.5rem;
}
.btn {
    width: 30%;
    display: block;
    margin: .8rem auto;
    text-align: center;
    padding: 0.6rem;
    color: white;
    background-color: #34a9e5;
}

@media screen and (max-width: '768px'){
    .box{
        width: 90%;
        display: block;
        padding: 0.5rem;
    }
    .btn{
        width: 60%;
    }
}
@media screen and (max-width: '575px'){
    .table{
        width: 70%;
        padding: 0.2rem;
        margin: auto;
    }
}