/* #header.MuiFormControl-root {
    min-width: 100px;
    max-width: 220px;
}

#header .MuiFormControl-root, .MuiInputLabel-filled, .Mui-focused, .MuiInputLabel-shrink {
    color: white !important;
}

#header.MuiFormControl-root.MuiInputBase-input> .MuiFilledInput-input {
    width: 150px;
}



*/
.MuiInputBase-root .MuiFilledInput-root {
    min-width: 100px;
    max-width: 220px;
}


.MuiMenu-paper {
    width: 240px !important;
}


#header.MuiFormControl-root {
    min-width: 100px;
    max-width: 220px;
}


#header .MuiFilledInput-underline:before {
    border: none !important;
}


 .MuiFormControl-root .MuiFilledInput-underline:after{
    border-bottom: none !important;
}


#header .MuiFormLabel-root, #header .MuiSelect-root { 
    color: white !important;
}


.icon {
    width: 1.4rem !important;
    height: 1rem !important;
    padding-right: 20px;
} 

